<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infos</title>
</head>
<body>
    <h1><%=data['data[results][0][school.name]']%></h1>

    
</body>
</html>